.text-input {
    margin: 10px 0;
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../resources/loginBackground.jpg");
}
.login-form {
    padding: 1rem;
    margin: 4rem;
    background-color: #ffffff;
}
.login-btn-container,
.login-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-btn {
    width: 100%;
}